@{
    ViewData["Title"] = "Opis";
}
<h1>@ViewData["Title"]</h1>
<br/>
<p>Aplikacja demonstruje użycie customowego elementu Paging Tag Helper.</p>
<p>Jeśli chcesz wiedzieć, jak robi się takie własne tag helpery, które łatwo potem wykorzystasz w różnych aplikacjach MVC, 
    to <a class="link-dark" href="https://blog.adameczek.pl/index.php/2023/01/21/stronicowanie-w-razor-pages/">wpis na moim blogu</a> 
    przybliży Ci sposób ich konstruowania. Pod koniec artykułu jest link do repozytorium.
    Kod tag heplera jest umieszczony w oddzielnym projekcie. To ułatwia zlokalizowanie jego plików i zależności.
</p>
<p>Przykładowe dane to rzeczywisty rozkład nazwisk w Polsce w lutym 2023r.</p>