@model IEnumerable<FamilyName>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Nazwiska w Polsce</h1>
    <table class="table table-sm table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nawisko</th>
            <th scope="col">Nosi je osób</th>
            <th scope="col">Płeć</th>
        </tr>
        </thead>
        <tbody>
        @{
            var counter = 0;
            foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@(++counter)</th>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.OccurenceCount)</td>
                    <td>@Html.DisplayFor(modelItem => item.Gender)</td>
                    <td></td>
                </tr>
            }
        }
        </tbody>
    </table>
</div>